doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        title Goom
    body 
        header
            h1 Goom
        main
            #welcome 
                form
                    input(type="text", placeholder="room name", required, name="roomName")
                    button Enter Room
            #room 
                h3
                ul
                form
                    input(type="text", placeholder="message", required, name="message")
                    button Send
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")