doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/public/css/styles.css")
        title Goom
    body 
        header
            h1 Goom
        main
            #welcome
                 form
                    input(placeholder="Room Name", required, type="text")
                    button Enter room
            #call 
                #videos
                    #myStream 
                        video#myVideo(muted, autoplay, playsinline)
                        #settings 
                            #buttons
                                button#mute
                                    i(class="fa-solid fa-microphone")
                                button#camera
                                    i(class="fa-solid fa-video")
                            #setCamera 
                                h3 화면 선택
                                select#cameras
                    video#peerFace(autoplay, playsinline, width="400", height="400")
                #chat 
                    ul#messages
                    form
                        input(placeholder="Type a message", required, type="text")
                        button Send
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")
        script(src="https://kit.fontawesome.com/18c154b14c.js" crossorigin="anonymous")